body{
    background-image: url(bac.jpg);
    background-repeat: no-repeat;
   
    background-size: cover;
    height: 300px;
    
}

.nav-pills{
    list-style-type: none;
    display: flex;
    margin-left: 450px;
   
}
.col{
    color: black;
}
.list{
    padding: 10px;
    font-size: 15px;
    
}
a{
    text-decoration: none;
    color: white;
}
.dev{
    font-size: 18px;
    color: white;
    margin-left: 100px;
    margin-top: -50px;
    font-family: elephant;
}
.me{
    color: white;
   margin-left: 140px;
  
    font-size: 12px;
}
.name{
    color: white;
    margin: 140px;
    margin-top: 10px;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}
.move{
   margin-top: 160px;
   margin-left: 40px;
}
.web{
    color: white;
    margin: 140px;
    margin-top: -130px;
    font-size: 15px; 
}
.border1{
    border: 0px solid black;
    height: 25px;
    width: 60px;
    background-color: white;
    margin-top: -120px;
    margin-left: 140px;
    color: red;
    font-size: 10px;
}
.border2{
    border: 0px solid black;
    height: 25px;
    width: 60px;
    background-color: white;
    margin-left: 20px;
    margin-top: -29px;
    color: red;
    font-size: 10px;
}

.img{
    height: 550px;
    margin-left: 580px;
   margin-top: -300px;
    position: absolute;
}
.position{
   
    position: absolute;
    margin-top: -120px;
    margin-left: 40px;

}