@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: rgb(13, 185, 22); /* Example value */
    --off-yellow: #ffeb3b; /* Example value */
}

body {
    font-family: 'Roboto', sans-serif;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-pills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list-item-inline {
    margin-right: 20px;
}

.list-item-inline a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.list-item-inline a:hover {
    text-decoration: underline;
}

.img-box {
    display: flex;
    justify-content: right;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
  
}

.hero .hero-img {
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(rgb(0, 102, 255))
}
.heading-inverted{
    color: rgb(255, 0, 85);
}

.section {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(47, 255, 165);
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    color: var(--off-yellow);
    margin: 1rem auto;
    border-radius: 2rem;
}

